@page
@model DeleteModel
@{
    ViewData["Title"] = "Delete employee";
}

<h1>@ViewData["Title"]</h1>
<form>
    <div class="mb-3">
        Do you really want to delete @Model.Employee.Name?
    </div>

    <div>
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        <a type="button" class="btn btn-primary btn-sm" href="~/">Cancel</a>
    </div>
</form>